<section id="portfolio" class="container our-work">
    <div>
        <h2>{{ page.header.title }}</h2>
        <div class="container intro">{{ content }}</div>
        <div class="row">

            {% for item in page.header.features|slice(0,3) %}
                <div class="col-sm-6 col-md-4 view view-tenth">
                    <a href="{{ base_url_absolute }}/{{ item.link }}" title="{{ item.title }}">
                        <img src="{{ page.media[item.image].url }}" width="100%" height="100%" alt="{{ item.title }}" />
                        <div class="mask col-sm-6 col-md-4 mask-1"></div>
                        <div class="mask col-sm-6 col-md-4 mask-2"></div>
                        <div class="content">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.text }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}

            {% for item in page.header.features|slice(3,5) %}
                <div class="hidden-xs col-sm-6 col-md-4 view view-tenth">
                    <a href="{{ base_url_absolute }}/{{ item.link }}" title="{{ item.title }}">
                        <img src="{{ page.media[item.image].url }}" width="100%" height="100%" alt="{{ item.title }}" />
                        <div class="mask col-sm-6 col-md-4 mask-1"></div>
                        <div class="mask col-sm-6 col-md-4 mask-2"></div>
                        <div class="content">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.text }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    <footer>
        {% for button in page.header.buttons %}
            <a href="{{ button.url }}" class="btn btn-large btn-primary">{{ button.text }}</a>
        {% endfor %}
    </footer>
</section>